/* geral */
* {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, sans-serif;
}

body {

    background-color: rgb(15, 15, 27);
}

/* fonts */

@font-face {
    font-family: "lexend";
    src: url("../LexendMega-Regular.ttf");
    }

    /* cores salvas */
    /* us army green rgb(29, 33, 13); */ 
                   
/* style header */

header {
    background-color: rgb(12, 12, 14);
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

#logo {
    color:rgb(206, 201, 194);
    line-height: 10vh;
    
}

#nav-top {
    color: white;
    line-height: 10vh;
}

#nav-top ul {
    margin-right: 3vw;
}

#nav-top li {
    display: inline;
    margin: 10px;
}

#nav-top a {
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    font-size: 1.2em;
    font-weight: 450
    
}

#nav-top a:hover {
    color: rgb(204, 24, 54);
}

/* teste img */

#img-teste {
    height: 90vh;
    width: 100%;
    background-image: url("../img/img-4.jpg");
    background-position: center ;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#img-teste-2 {
    height: 100%;
    width: 100%;
    background-image: url("../img/img-2.jpg");
    background-position: center ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

#caixa-texto-img {
    color: rgb(255, 255, 255);
    font-size: 1.2em ;
    text-align: center;
    height: 40vh;
    width: 60vw;
    float: right;
    padding: 5px;
    margin-top: 27vh;
    margin-right: 1vw;
    background-color: rgba(15, 15, 27, 0.8);
    border: 5px solid rgba(25, 25, 37, 0.8) ;
    border-radius: 65px;
}

#caixa-texto-img h1 {
    margin: 20px;
    font-family: "lexend",  sans-serif;
    
}

/* area de planos */

#titulo-plano {
    text-align: center;
    margin: 25px;
    color: white;
    font-family: "lexend",  sans-serif;
}

#p-planos {
    text-align: center;
    font-family: "lexend",  sans-serif;
    color: white;
}
#area-planos {
    display: flex;
    justify-content: space-around;
}

#caixa-plano-1 {
    background-color: rgb(62, 180, 32);
    height: 70vh;
    width: 30vw;
    margin: 25px;
    text-align: center;
    color: whitesmoke;
}
    
#caixa-plano-2 {
    background-color:rgba(29, 33, 13, 0.9);
    height: 70vh;
    width: 30vw;
    margin: 25px;
    text-align: center;
    color: whitesmoke;
}
/* plano area formataçao texto */
#caixa-plano-1,
#caixa-plano-2 {
    font-size: 1.5em;
    border: 5px solid rgba(15, 15, 27, 0.8);
}
    
#caixa-plano-1 ul,
#caixa-plano-2 ul {
    list-style: none;
}

#caixa-plano-1 h2,
#caixa-plano-2 h2 {
    font-size: 1.6em;
    font-family: "lexend",  sans-serif;
}



#flex-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* caixa plano  */

#caixa-plano-1-titulo h1,
#caixa-plano-2-titulo h1 {
    margin-top: 25px;
    font-family: "lexend",  sans-serif;
    font-size: 1.8em;
}

#caixa-plano-1-lista,
#caixa-plano-2-lista {
    margin: 25px;
    margin-top: 25px;
}

#caixa-plano-1-valor,
#caixa-plano-2-valor {
    margin-top: 30px;
}

#caixa-plano-1-valor p:nth-child(1),
#caixa-plano-2-valor p:nth-child(1)
 {
    font-size: 2em;

}

#caixa-plano-1-valor p:nth-child(2),
#caixa-plano-2-valor p:nth-child(2) {
    font-size: 0.5em;

}

/* estrutura gym */

#img-teste-2 h1:nth-child(1) {
    color: white;
    font-family:  "lexend",  sans-serif;
    margin-top: 25px;
    font-size: 3em;
}


.caixa-foto {
    margin-top: 5vh;
    margin-bottom: 5vh;
    border: 1px solid rgba(25, 25, 37, 0.8);
    background-color: white;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.caixa-foto img {
    width: 100;
    height: 35vh;
    
    
}