/* geral */
* {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, sans-serif;
}

body {

    background-color: rgb(15, 15, 27);
}

/* fonts */

@font-face {
    font-family: "lexend";
    src: url("../LexendMega-Regular.ttf");
    }

    /* cores salvas */
    /* us army green rgb(29, 33, 13); */ 
                   
/* style header */

header {
    background-color: rgb(12, 12, 14);
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

#logo {
    color:rgb(206, 201, 194);
    line-height: 10vh;
    
}

#nav-top {
    color: white;
    line-height: 10vh;
}

#nav-top ul {
    margin-right: 3vw;
}

#nav-top li {
    display: inline;
    margin: 10px;
}

#nav-top a {
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    font-size: 1.2em;
    font-weight: 450
    
}

#nav-top a:hover {
    color: rgb(204, 24, 54);
}

/* teste img */

#img-teste {
    height: 90vh;
    width: 100%;
    background-image: url("../img/img-4.jpg");
    background-position: center ;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#img-teste-2 {
    height: 90vh;
    width: 100%;
    background-image: url("../img/img-3.jpg");
    background-position: center ;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#caixa-texto-img {
    color: rgb(255, 255, 255);
    font-size: 1.4em ;
    text-align: center;
    height: 40vh;
    width: 60vw;
    float: right;
    padding: 5px;
    margin-top: 27vh;
    margin-right: 1vw;
    background-color: rgba(15, 15, 27, 0.8);
    border: 5px solid rgba(25, 25, 37, 0.8) ;
    border-radius: 65px;
}

#caixa-texto-img h1 {
    margin: 20px;
    font-family: "lexend",  sans-serif;
    
}

/* area de planos */

#titulo-plano {
    text-align: center;
    margin: 25px;
    color: white;
    font-family: "lexend",  sans-serif;
}

#p-planos {
    text-align: center;
    font-family: "lexend",  sans-serif;
    color: white;
}
#area-planos {
    display: flex;
    justify-content: space-around;
}

#caixa-plano-1 {
    background-color: red;
    height: 70vh;
    width: 30vw;
    margin: 25px;
    text-align: center;
}
    
#caixa-plano-2 {
    background-color: blue;
    height: 70vh;
    width: 30vw;
    margin: 25px;
    text-align: center;
}
    
